<!DOCTYPE html>
<html lang="en">

<!-- Head Section -->
	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <title>Logs World</title>
	</head>

<!-- Body Section -->
	<body>
		<div class="header">
			<div>
				<h3>家計簿Top画面</h3>
			</div>
		</div>
		<div class="main">
			
		<div class="footer">
			<p>who create this app...</p>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript">
			$(function(){
				console.log('budget_main.html: jquery Start');
				
			});
		</script>
	</body>
</html>
