<!DOCTYPE html>
<html lang="en">

<!-- Head Section -->
	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <title>My Logs</title>
	</head>

<!-- Body Section -->
	<body>
		<div class="header">
			<h1>Log Management Application</h1>
			<p>explanation...</p>
		</div>
		<div class="main">
			<div class="buttons">
				<div class="button">
					<input type="submit" value="Login" id="btn_login">
				</div>
				<div class="button">
					<input type="submit" value="New User" id="btn_user_registration">
				</div>
			</div>
		</div>
		<div class="footer">
			<p>who create this app...</p>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript">
			$(function(){
				console.log('index.html: jquery Start');

				// Loginボタンクリック時の処理
				$('#btn_login').on('click', function(){
					console.log('btn_login is clicked...');
					// login()へ遷移する
					window.location.href = 'http://localhost:5000/login';
				});

				// New Userボタンクリック時の処理
				$('#btn_user_registration').on('click', function(){
					console.log('btn_user_registration is clicked...');
					// user_registration()へ遷移する
					window.location.href = 'http://localhost:5000/user_registration';
				});
				
			});
		</script>
	</body>
</html>
