<!DOCTYPE html>
<html lang="en">

<!-- Head Section -->
	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <title>Training Log</title>

	</head>

<!-- Body Section -->
	<body>
		<div id="top_block">
			<h1>Hello Training</h1>
			<p>Welcome To Training Log Application</p>
		</div>
		<div>
			<h3>Select Menu</h3>
			<p>Select the munu and push under button</p>
		</div>
		<div>
			<input type="button" value="Bicycle" id="button_bicycle">
			<input type="button" value="Coming soon" id="button_xx">
			<input type="button" value="Coming soon" id="button_xxx">
		</div>

		<!-- 今月の目標を入力するダイアログ -->
		<div>
			<dialog id="input_dialog">
				<h4>New Month is Starting</h4>
				<p>Input Your Target Values</p>
				<br/>
				<p>
					<label>Month: </label>
					<input type="text" name="month" id="input_month">
				</p>
				<p>
					<label>Distance: </label>
					<input type="text" name="distance" id="input_target_distance">
				</p>
				<br/>
				<p>
					<input type="button" value="INPUT" id="button_input_to_db">
				</p>
				<br/>
				<input type="button" value="Back" class="button_back">
			</dialog>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript">
			$(function(){
				console.log('index.html: jquery Start');

				// 今日の日付を取得
				let now = new Date();
				let year = now.getFullYear();
				let month = now.getMonth() + 1;
				let date = now.getDate();
				let today = year + '-' + month + '-' + date;
				console.log('now: ' + now);
				console.log('date: ' + date);
				console.log('date type: ' + (typeof date));
				console.log('today: ' + today);

				// 今日の日付が1日だった際の処理
				if(date == 26){
					$('#input_dialog').fadeIn('slow');
					$('#input_month').val(today);
				}

				// ここにinputボタンがタップされた際の処理を記述する

				// Backボタンがタップされた際の処理
				// 値をクリアしダイアログを閉じる
				$('.button_back').click(function(){
					$('#input_month').val('');
					$('#input_target_distance').val('');
					$('#input_dialog').fadeOut('slow');
				})


				$('#button_bicycle').click(function(){
					window.location.href = 'https://training-logs.herokuapp.com/bicycle_contents'
				})
			});
		</script>
	</body>
</html>
